<div class="container text-center">
  <div class="profile-wrapper">
    <div class="profile-info-wrapper">
      <div class="profile-top">
        <div class="my-profile-page">
          <h5>My profile</h5>
        </div>
        <div class="dropdown">
          <button class=" dropdown-toggle profile-menu" type="button" id="profile-menu-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-bars"></i>
          </button>
          <ul class="dropdown-menu dropdown-menu-left profile-page navbar-barwars-dropdown-menu">
            <li>
              <%= link_to "#" do %>
              <i class="fas fa-user-edit"></i> &nbsp;&nbsp;Edit profile</i>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
              <i class="far fa-trash-alt"></i> &nbsp; &nbsp; Delete profile</i>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
        <% if current_user.photo? %>
          <%= cl_image_tag current_user.photo, :class => "profile-image" %>
        <% else %>
        <%= image_tag "blank-avatar.jpg", :class => "profile-image" %>
        <% end %>
      <div class="user-info text-left">
        <div class="profile-fullname label">
          Full name
        </div>
        <div class="profile-fullname input">
          <%= current_user.first_name %> <%= current_user.last_name %>
        </div>
        <div class="profile-username label">
          Username
        </div>
        <div class="profile-username input">
          <%= current_user.username %>
        </div>
        <div class="profile-email label">
          Email address
        </div>
        <div class="profile-email input">
          <%= current_user.email %>
        </div>
      </div>
      <!-- Edit form with update button -->
    </div>
    <div class="my-deals-wrapper">
      <h1 class="my-deals">My saved deals</h1>
      <div class="scrollable-div pre-scrollable">
        <div class="row">
        <% current_user.deals.each do |deal| %>
          <% if deal.start_time.to_date == DateTime.current.to_date %>
          <div class="col-xs-6">
            <div class="saved-deal">
              <div class="saved-deal-time">
                <%= deal.start_time.strftime("%A") + " from " + deal.start_time.strftime("%H:%M")%>
                to
                <%= deal.end_time.strftime("%H:%M") %>
                </div>
              <%= link_to deal_path(deal), class: "deal-bar-button dashboard" do %>
              <div id="bar-button">
                <h4 class="deal-heading"><%= deal.type.name %> <span class="deal-price"><%= "#{deal.price} #{'DKK' if deal.price}" %></span></h4>
                <p class="deal-footing"><%= deal.description %></p>
              </div>
              <% end %>
              <ul class="list-inline text-center">
                <li><div class="saved-bar-name"><strong><%= deal.bar.name %></strong></div></li>
                <li><div class="saved-bar-address"><%= deal.bar.address.split(',').join(' ').truncate_words(2) %><i class="fas fa-map-marker-alt"></i></div></li>
              </ul>
            </div>
            <p class="active-deal">Active</p>
          </div>
          <% else %>
            <div class="col-xs-6">
            <div class="saved-deal">
              <div class="saved-deal-time">
                <%= deal.start_time.strftime("%A")%> from <%= deal.start_time.hour %>:<%= deal.start_time.min  %> to <%= deal.end_time.hour %>:<%= deal.end_time.min  %></div>
              <%= link_to "#", class: "deal-bar-button dashboard" do %>
              <div id="bar-button">
                <h4 class="deal-heading"><%= deal.type.name %> <span class="deal-price"><%= "#{deal.price} #{'DKK' if deal.price}" %></span></h4>
                <p class="deal-footing"><%= deal.description %></p>
              </div>
              <% end %>
              <ul class="list-inline text-center">
                <li><div class="saved-bar-name"><strong><%= deal.bar.name %></strong></div></li>
                <li><div class="saved-bar-address"><%= deal.bar.address.split(',').join(' ').truncate_words(2) %><i class="fas fa-map-marker-alt"></i></div></li>
              </ul>
            </div>
          </div>
          <% end %>

        <% end %>
        </div>
      </div>
      <% if current_user.deals.count > 4 %>
        <div class="arrow bounce"><i class="fas fa-angle-down"></i></div>
      <% end %>
    </div>
  </div>
</div>
</div>



