        <% current_user.deals.each do |deal| %>
        <% if deal.end_time.to_date >= DateTime.current.to_date %>
        <% if deal.start_time.to_date == DateTime.current.to_date %>
        <div class="col-xs-6">
          <div class="saved-deal">
            <div class="saved-deal-time">
              <%= deal.start_time.strftime("%A") + " from " + deal.start_time.strftime("%H:%M")%>
              to
              <%= deal.end_time.strftime("%H:%M") %>
            </div>
            <%= link_to deal_path(deal), class: "deal-bar-button dashboard" do %>
            <div id="bar-button">
              <h4 class="deal-heading"><%= deal.type.name %> <span class="deal-price"><%= "#{deal.price} #{'DKK' if deal.price}" %></span></h4>
              <p class="deal-footing"><%= deal.description %></p>
            </div>
            <% end %>
            <ul class="list-inline text-center">
              <li><div class="saved-bar-name"><strong><%= deal.bar.name %></strong></div></li>
              <li><div class="saved-bar-address"><%= deal.bar.address.split(',').join(' ').truncate_words(2) %><i class="fas fa-map-marker-alt"></i></div></li>
            </ul>
          </div>
          <p class="active-deal">Active</p>
        </div>
        <% else %>
        <div class="col-xs-6">
          <div class="saved-deal">
            <div class="saved-deal-time">
              <%= deal.start_time.strftime("%A")%> from <%= deal.start_time.hour %>:<%= deal.start_time.min  %> to <%= deal.end_time.hour %>:<%= deal.end_time.min  %></div>
              <%= link_to "#", class: "deal-bar-button dashboard" do %>
              <div id="bar-button">
                <h4 class="deal-heading"><%= deal.type.name %> <span class="deal-price"><%= "#{deal.price} #{'DKK' if deal.price}" %></span></h4>
                <p class="deal-footing"><%= deal.description %></p>
              </div>
              <% end %>
              <ul class="list-inline text-center">
                <li><div class="saved-bar-name"><strong><%= deal.bar.name %></strong></div></li>
                <li><div class="saved-bar-address"><%= deal.bar.address.split(',').join(' ').truncate_words(2) %><i class="fas fa-map-marker-alt"></i></div></li>
              </ul>
            </div>
          </div>
          <% end %>
          <% end %>
          <% end %>
