<% user_deals.each_with_index do |user_deal,i| %>
<% deal = user_deal.deal %>
<% if deal.end_time.to_date >= DateTime.current.to_date %>
<% if deal.start_time.to_date == DateTime.current.to_date %>
<div class="col-xs-12">
  <div class="product dashboard-product">
    <div class='product-upvote'>
      <div class='product-count'><%= i + 1 %></div>
    </div>
    <div class='product-body'>
      <div class="body-inner-wrapper">
        <div class="to-l text-left">
          <h3><%= deal.bar.name %></h3>
          <p><%= deal.bar.address %></p>
        </div>
        <div class="to-r">
          <ul class="list-inline product-controls hidden-sm hidden-xs">
            <li><i class="far fa-clock"></i></li>
            <li class="clock-time"><%=deal.start_time.strftime("%H:%M") %></li>
            <li><i class="fas fa-clock"></i></li>
            <li class="clock-time"><%= deal.end_time.strftime("%H:%M") == "23:59" ? "00:00" : deal.end_time.strftime("%H:%M") %></li>
          </ul>
          <p class="dont-show"><%= deal.bar.address %></p>
        </div>
      </div>
      <%= link_to deal_path(deal), class: "deal-bar-button" do %>
      <div id="bar-button-showpage">
        <h4 class="deal-heading"><%= deal.type.name %>&nbsp;<span class="deal-price"> <%= "#{deal.price} #{'DKK' if deal.price}" %></span></h4>
        <p class="deal-footing"><%= deal.description %></p>
      </div>
      <% end %>
      <%= link_to user_deal_path(user_deal), id: "delete-button", method: :delete do %>
        <i class="fas fa-trash-alt"></i>
      <% end %>
    </div>

  </div>
</div>
<% end %>
<% end %>
<% end %>
