<div class="navbar-barwars">

  <!-- Logo -->
  <%= link_to root_path, class: "navbar-barwars-brand" do %>
  <%= image_tag "logo.png", height: 50 %>
  <% end %>

  <!-- Link to weekly deals -->
  <%= link_to weekly_deals_path, class: "weekly-deals-button" do %>
  <div> <i class="fas fa-info-circle"></i> Weekly deals</div>
  <% end %>
  <!-- Right Navigation -->
  <div class="navbar-barwars-right hidden-xs hidden-sm">

    <% if user_signed_in? %>

    <!-- Links when logged in -->
    <%= link_to "My deals", dashboard_path, class: "navbar-barwars-item navbar-barwars-link my-deals-button" %>

    <!-- Avatar with dropdown menu -->
    <div class="navbar-barwars-item">
      <div class="dropdown">
        <% if current_user.photo? %>
        <%= cl_image_tag current_user.photo, :class => "avatar dropdown-toggle", :id => "navbar-wagon-menu", "data-toggle" => "dropdown" %>
        <% else %>
        <%= image_tag "blank-avatar.jpg", :class => "avatar dropdown-toggle", :id => "navbar-wagon-menu", "data-toggle" => "dropdown" %>
        <ul class="dropdown-menu dropdown-menu-right navbar-barwars-dropdown-menu">
          <li>
            <%= link_to 'My profile', dashboard_path %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
            <%= t(".sign_out", default: "Log out") %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
    <% else %>
    <!-- Login link (when logged out) -->
    <%= link_to t(".sign_up", default: "Register"), "#", class: "navbar-barwars-item navbar-barwars-link barwars-register", "data-toggle": "modal", "data-target": "#exampleModal" %>

    <%= link_to t(".sign_in", default: "LOG IN"), "#", class: "navbar-barwars-item navbar-barwars-link barwars-signin", "data-toggle": "modal", "data-target": "#exampleModal" %>


    <%= link_to "#", "data-toggle": "modal", "data-target": "#real-signin" do %>
      <div> Sign-in</div>
    <% end %>

    <%= link_to "#", "data-toggle": "modal", "data-target": "#real-signup" do %>
      <div> Sign-up</div>
    <% end %>
    <% end %>
  </div>

</div>


<!-- SIGN IN MODAL -->

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content signin">
      <%= render 'shared/design-login-form' %>
    </div>
  </div>
</div>

<div class="modal fade" id="real-signin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content signin">
      <%= render 'shared/sign-in-form' %>
    </div>
  </div>
</div>

<div class="modal fade" id="real-signup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content signin">
      <%= render 'shared/sign-up-form' %>
    </div>
  </div>
</div>
