<div class="showpage-wrapper">
    <div class="deal-information">
      <div class="picture-banner" style="background-image: url(<%= @deal.bar.photo %>)">
        <div class="deal-bar-name"><%= @deal.bar.name %></div>
        <div class="type-icon large">
          <i class="<%= @deal.type.fa_icon if @deal.type.fa_icon %>"></i>
        </div>
        <div class="distance-from-you"> <i class="fas fa-map-marker-alt"></i> &nbsp;
          <%= Geocoder::Calculations.distance_between([@current_location[0],@current_location[1]], [@deal.bar.latitude,@deal.bar.longitude]).round(1) %> km from you
        </div>
        <div id="map" style="width: 750px; height: 300px;" data-markers="<%= @markers.to_json %>">
        </div>
        <% if @gmaps_direction_link%>
        <%= link_to "Take me there", @gmaps_direction_link, target: "_blank", id: "route-to" %>
        <% end %>
      </div>
      <%= link_to "Show Map", "#", id: "show-map" %>
      <%= link_to "Contact info", "#", id: "contact-info" %>
      <h2 class="deal-number">Deal #<%= @deal.id %></h2>
      <div class="deal-info-footing">
        <div id="deal-informations">
          <h4 class="deal-heading text-center">
            <%= @deal.type.name %><br><span class="deal-price"> <%= "#{@deal.price} #{'DKK' if @deal.price}" %></span>
          </h4>
          <p class="deal-footing"><%= @deal.description %></p>
        </div>
        <div class="countdown-box">
          <%= render 'shared/clock' %>
          <%= render 'shared/countdown' %>
        </div>
        <div class="bar-info-box">
          <h5 class="contact-info text-center">Contact information</h5>
          <ul class="info-list">
            <li><i class="fas fa-map-marker-alt"></i>&nbsp; <%= @deal.bar.address %></li>
            <li><i class="fas fa-phone"></i>&nbsp;+45 <%= @deal.bar.phone_number %></li>
            <% if !@deal.bar.email.nil? %>
            <li><i class="fas fa-at"></i>&nbsp;<%= @deal.bar.email %></li>
            <% end %>
            <% if !@deal.bar.website.nil? %>
            <li><i class="fab fa-internet-explorer"></i>&nbsp;<%= @deal.bar.website %></li>
            <% end %>
          </ul>
        </div>
        <div class="share-box">
          <div class="start-time text-center">Deal starts at: <span class="time"><%= @deal.start_time.strftime("%H:%M") %></span></div>
          <div class="end-time text-center">Deal ends at: <span class="time"><%= @deal.end_time.strftime("%H:%M") == "23:59" ? "00:00" : @deal.end_time.strftime("%H:%M") %></span></div>
          <p class="facebook-share text-center">Tell your friends you're drinking this!</p>
          <div class="social-btns">
            <a class="btn facebook" href="#"><i class="fab fa-facebook-f"></i></a>
          </div>

        </div>
        <div class="verticalLine"></div>
      </div>
    </div>
  </div>
