<div id="show-filters" class="text-center slideup">

  <div class="form-group">
    <!-- <label class="control-label check_boxes optional">Types</label> -->
    <form action="<%= deals_path %>" method="get", class: "filter-form", data-remote="true">
      <div class="category-choices">
        <% @types.each do |type| %>
        <label for="<%= "type_#{type.id}" %>" class="<%= type.name %> type btn category-choice category-filter">
        <h5><%= type.name %></h5><i class="<%= type.fa_icon if type.fa_icon %>"></i>
        </label>
        <input type="checkbox" class="hidden" value="<%= type.name %>" name="type[]" id="<%= "type_#{type.id}"%>">
        <% end %>


    <input type="submit" value="Filter" class="btn filter-button hidden" id="goobypls" />

    <div class="form-group">
    <!-- <label class="control-label check_boxes optional">Types</label> -->

      <!-- dancing -->
        <label for="dancing" class="dancing-filter">
        <h5>I Wanna Dance!</h5>
        </label>
        <input type="checkbox" class="" value="dancing" name="dancing[]" id="dancing">

      <!-- smoking -->
        <label for="smoking" class="smoking-filter">
        <h5>No Smoking Please</h5>
        </label>
        <input type="checkbox" class="" value="smoking" name="smoking[]" id="smoking">

      </div>
  </div>

    <!-- <input type="submit" value="Filter" class="btn filter-button" id="" /> -->
  </form>





<!--   <ul class="list-inline">
    <li>
      <div class="check-choices">
        <input type="checkbox" value="" id="check01">
        <label for="check01">
          I wanna dance!
        </label>
      </li>
      <li>
        <input type="checkbox" value="" id="check02">
        <label for="check02">
          No smoking, please
        </label>
      </div>
    </li>
  </ul> -->

</div>
</div>



