<div id="show-filters" class="text-center slideup">

  <div class="form-group">
    <%= form_tag(deals_path, method: :get, remote: true, html: { class: "filter-form" }) do %>
      <div class="category-choices">
        <% @types.each do |type| %>
          <label for="<%= "type_#{type.id}" %>" class="<%= type.name %> <%= params[:type] ? (params[:type].include?(type.name) ? 'active' : '') : '' %> type btn category-choice category-filter">
            <h5><%= type.name %></h5>
            <i class="<%= type.fa_icon if type.fa_icon %>"></i>
          </label>
          <%= check_box_tag("type[]", type.name, params[:type], {id: "type_#{type.id}", class: "hidden"})  %>
        <% end %>
      </div>
      <ul class="list-inline">
        <li>
          <div class="check-choices">
            <%= check_box_tag("dancing[]", "dancing", params[:dancing], {id: 'check01'})  %>
            <label for="check01" class="dancing-filter">I wanna dance!</label>
          </div>
        </li>
        <li>
          <div class="check-choices">
            <%= check_box_tag("smoking[]", "smoking", params[:smoking], {id: 'check02'})  %>
            <label for="check02" class="smoking-filter">I feel like smoking!</label>
        </li>
          </div>
      </ul>


      <%= hidden_field_tag :q, params[:q] %>
      <%= hidden_field_tag :distance, params[:distance] %>
      <input type="submit" value="Filter" class="btn filter-button hidden" id="goobypls" />
    <% end %>
  </div>
</div>
