<div class="full-page">
  <div class="container">
    <h1 class="subtitle-index">Bar deals</h1>

    <!-- Filter toggle button -->
    <%= link_to "#", id: "sticky-filter" do %>
    <div class="filter-button-wrapper sticky-top">
      <div id="filter-button" class="filter text-center">
        <div class="options-icon">
          <div class="line-container">
            <div class="filter-line"></div>
            <div class="circle"></div>
          </div>
          <div class="line-container">
            <div class="filter-line"></div>
            <div class="circle"></div>
          </div>
          <div class="line-container">
            <div class="filter-line"></div>
            <div class="circle"></div>
          </div>
        </div>
        <p>Filter</p>
      </div>
      </div>
    <% end %>

    <!-- Filters box-->
    <%= render 'shared/filter-box' %>

  </div> <!-- Closing header container -->

    <!-- Cards -->
    <div class="deal-wrapper">
      <div class="container text-center">
        <div class="row">
          <% 4.times do %>
          <div class="col-xs-3">
            <div class="deal-info deal-bg-img" style="background-image: url('https://img.myswitzerland.com/mys/38578/images/buehne/blue02-1.jpg');">
              <div class="type-icon">
                <i class="fas fa-beer"></i>
              </div>
              <div class="bar-name">
               <p>Bar name</p>
             </div>
             <div class="stats">
              <ul>
                <li>
                  <p class="heading"><i class="fas fa-star-half-alt"></i></p>
                  <p class="footing">3.6</p>
                </li>
                <li>
                  <p class="heading"><i class="fas fa-map-marked-alt"></i></p>
                  <p class="footing">4.2km</p>
                </li>
                <li>
                  <p class="heading"><i class="far fa-clock"></i></p>
                  <p class="footing">17.00</p>
                </li>
              </ul>
              <%= link_to "#", class: "deal-bar-button" do %>
                <div id="bar-button">
                  <h4 class="deal-heading">Happy Hour <span class="deal-price">130DKK</span></h4>
                  <p class="deal-footing">All drinks on the menu</p>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div> <!-- Closing card container -->
  </div> <!-- Closing wrapper -->


  <!-- Filter modal -->
  <div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content filter">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= render 'shared/filters' %>
        </div>
      </div>
    </div>
  </div>

  <!-- Back to top button -->
  <%= link_to "#", id: "return-to-top" do %>
    <i class="fas fa-chevron-up"></i>
  <% end %>
</div>



